@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { placeholder = "Search by artist, genre...", @class = "form-control" })
            <span class="input-group-addon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
            </span>
        </div>
    </div>
}
<ul class="gigs voffset3">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
                    }


                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && gig.IsCanceled == false)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-defaul btn-sm pull-right js-toggle-attendance">Going?</button>
                }
                <span class="venue">
                    @gig.Venue
                </span>
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target)
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going")
                    })
                    .fail(function () {
                        alert("Something failed!")
                    })
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target)
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following")
                    })
                    .fail(function () {
                        alert("Something failed!")
                    })
            });
        });
    </script>
}